<h1>{{userName}}!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iusto, tempora 
  quisquam similique, dolores consectetur ad incidunt cum perspiciatis nisi qui 
  vero? Blanditiis quaerat suscipit impedit, nostrum sunt officiis distinctio.</p>
<a href=''>НАЧАТЬ</a>