<h1>{{userName}}, здравствуйте!</h1>
<p class='instructions'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iusto, tempora
  quisquam similique, dolores consectetur ad incidunt cum perspiciatis nisi qui
  vero? Blanditiis quaerat suscipit impedit, nostrum sunt officiis distinctio.</p>
<a class='start-test button' id='start-voice' href=''>
  <div class='start-test'>НАЧАТЬ</div>
</a>