<!DOCTYPE html>
<html>

<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>ФОРМА</title>
</head>

<body>
    <div>BODY</div>
    <div>
        {{{body}}}
        <script src="/js/createUser.js"></script>
    </div>
    <script src="/js/test.js"></script>
</body>

</html>