<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/59272c06965f3b33f8db3b47796309ca?family=Museo+300" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>
    <title>ФОРМА</title>
</head>

<body>
    <section>
        <header>
            <h2>Header</h2>
        </header>
        <div id='main'>
            <div>
                {{{body}}}
            </div>
        </div>
    </section>
    <script src="/js/stat.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/createUser.js"></script>
    
</body>

        <footer>
            <h2>Footer</h2>
        </footer>
</html>