<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
    {{!-- <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script> --}}
=======

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
>>>>>>> master

    <title>ФОРМА</title>
</head>

<body>
    <div></div>
    <div>
        {{{body}}}
        <script src="/js/createUser.js"></script>
    </div>
<<<<<<< HEAD
    <script src="/js/stat.js"></script>
=======
    <script src="/js/test.js"></script>
>>>>>>> master
</body>

</html>