<form id='form' method='post' action='/user/register'>
    <span>name</span>
    <input id='name' type='text' name='name' value=''>
    <span>surname</span>
    <input id='surname' type='text' name='surname' value=''>
    <span>Email</span>
    <input id='email' type='text' name='email' value=''>

    <p></p>
    <button type='submit' position='center'>Submit</button>
</form>