<p class="register">Вход</p>
<input class="auth-input" id='name' type='text' placeholder="ИМЯ" name='name' value=''>
<input class="auth-input" id='surname' type='text' placeholder="ФАМИЛИЯ" name='surname' value=''>
<input class="auth-input" id='email' type='text' placeholder="EMAIL" name='email' value=''>
<a class='auth' id="button" href="">
    <div class="button auth">ПОДТВЕРДИТЬ</div>
</a>