<label class="form-description">ЗАПОЛНИТЕ ПОЛЯ СЛОВАМИ, В ТОМ ПОРЯДКЕ,<br> В КОТОРОМ ВЫ ИХ УВИДЕЛИ</label>

<form id="list_master" class="flex flex-row" method="post" action="/statistica">
    <div class='test'>
    {{#each answers}}
    <div class='item'>{{>answerWord}}</div>
    {{/each}}
    </div>
    <input id="send" class="send_answers button" type="submit" value="ОТПРАВИТЬ">
</form>