<form>

<div class="list_answers">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
<input id="answer_word">
</div>

</form>